.prueba {
  color: red
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*background:linear-gradient(to bottom, #e3e3e3 5%, #ebebeb 100%);
	background-color:#e3e3e3;*/
	border-radius:6px;
	border-top:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  width: auto;
  height: 20px;
  cursor:pointer;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ebebeb 5%, #e3e3e3 100%);
	background-color:#ebebeb;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonHide {
  display: none;
}
